.title {
    cursor: default;
    position: relative;
    z-index: 2;

    .wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;

        h2 {
            display: inline-block;
            color: var(--title-color);
            font-family: var(--title-font), sans-serif;
            position: relative;
            z-index: 2;


            &:nth-of-type(2) {
                display: block;
                position: absolute;
                color: var(--title-lighter-color);
                top: 0;
                z-index: 1;
            }
        }
    }

}