.landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    gap: 1rem;
    top: 0vh;
    padding: 1rem;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    padding-top: 6vh;
    z-index: 1;

    @media (max-width: 1143px) {
        display: flex;
        flex-direction: column;
        right: 0;
    }

    @media (max-width: 1352px) {
        padding: 0rem;
    }

    @media (max-width: 552px) {
        padding: 0rem;
    }

    &__left {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        &_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;


            @media (max-width: 456px) {
                padding: 0.5rem;
            }

            p {
                font-family: var(--subtitle-font);
                font-size: var(--big-font-size);
                color: var(--subtitle-color);
                letter-spacing: -0.01rem;
                text-transform: lowercase;
                font-display: swap;
                width: 100%;
                text-align: center;
            }

            span {
                color: var(--title-color)
            }

            &_upper_content {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                h1 {
                    font-family: var(--title-font);
                    font-size: 9vh;
                    color: var(--title-color);
                    text-align: center;
                    text-transform: none;
                    line-height: 1.4;

                    @media (max-width: 1356px) {
                        position: relative;
                        font-size: 8vh;
                        line-height: 1.3;
                    }

                    @media (max-width: 1156px) {
                        font-family: var(--title-font);
                        position: relative;
                        font-size: 7.5vh;
                        top: -0.1em;
                        line-height: 1.1;
                    }

                    @media (max-width: 996px) {
                        font-size: 6.5vh;
                    }

                    @media (max-width: 596px) {
                        font-size: 5vh;
                    }

                    @media (max-width: 456px) {
                        font-size: 4.35vh;
                    }
                }
            }

            &_bottom {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;

                @media (max-width: 1143px) {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }

                p {
                    text-align: center;

                    @media (max-width: 1256px) {
                        max-width: 80%;
                        font-size: 1rem;
                    }

                    @media (max-width: 556px) {
                        width: 100%;
                        font-size: 0.8rem;
                        padding-top: 0.5rem;
                    }
                }

                svg {
                    margin-top: 0.3rem;

                    @media (max-width: 1143px) {
                        display: none;
                    }
                }

                &_right {
                    display: flex;
                    height: fit-content;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    gap: 2vw;
                    position: relative;
                    z-index: 9;
                    background-color: var(--background-color);
                    padding: 2vh 0;

                    @media (max-width: 555px) {
                        padding: 0;
                    }
                    .magnetic {
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            background-color: transparent;
                            padding: 0.4rem 1rem;
                            font-size: 1.15rem;
                            font-family: var(--body-font);
                            border-radius: 2rem;
                            border: 1px solid var(--container-color);
                            z-index: 9;
                            transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);

                            @media (max-width: 556px) {
                                font-size: 0.8rem;
                            }

                            span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 1vw;
                                transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
                                color: var(--title-color);
                            }
                        }
                    }
                }

            }
        }
    }

    img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
        transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
        border-radius: 1rem;

        @media (max-width: 743px) {
            height: 50vh;
        }
    }
}


.landing__left_content {
    position: relative;
    z-index: 9;
    overflow: hidden;
    width: 100%;

    img {
        width: 20vw;
        height: 20vh;
        position: absolute;
        display: none;
        transform: translateX(-50%) translateY(-50%);
        z-index: 9;

        @media (max-width: 1222px) {
            display: none;
        }
    }
}