.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100lvh;
    width: 100%;
    gap: 1rem;
    background-color: var(--background-color);
    padding: 1rem;
    position: relative;
    top: 6.5vh;
    margin-bottom: 10rem;

    @media (max-width: 552px) {
        padding: 0.5rem;
    }

    &_top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding-bottom: 4vh;

        @media (max-width: 1256px) {
            padding-bottom: 2vh;
        }

        @media (max-width: 552px) {
            padding-bottom: 0;
        }

        p {
            font-size: var(--normal-font-size);
            color: var(--subtitle-color);
            font-family: var(--body-font);
            width: 50%;

            @media (max-width: 856px) {
                width: 100%;
                line-height: 1.1;
                font-family: var(--subtitle-font);
            }
        }

        &_titles,
        &_titles_accent {
            display: flex;
            width: 100%;
            overflow: hidden;

            h2 {
                line-height: 1;
                margin-top: 0;
                font-size: 5vw;
                font-family: var(--logo-font);
                letter-spacing: normal;
                color: var(--title-color);
                text-transform: uppercase;

                @media (max-width: 1256px) {
                    font-size: 7vh;
                }

                @media (max-width: 520px) {
                    font-size: 5vh;
                }

                @media (max-width: 450px) {
                    font-size: 4vh;
                }
            }
        }

        &_titles_accent {
            h2 {
                color: var(--accent-color);

            }
        }

        &_lower {
            margin-top: 4vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            height: 100%;
        }
    }

    &__upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &_mainVideo {
            position: relative;
            height: 60vh;
            width: 100%;

            @media (max-width: 1143px) {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                height: 40lvh;
            }

            video {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                object-fit: cover;
                object-position: center center;
                position: relative;

            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 50%;
                /* Adjust this value to control how much of the bottom is affected */
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--title-color) 100%);
                border-radius: 1rem;
                z-index: 1;

                @media (max-width: 557px) {
                    display: none;
                }

            }

            .hero_text {
                position: absolute;
                top: 50%;
                /* Position 50% from top */
                left: 50%;
                /* Position 50% from left */
                transform: translate(-50%, -50%);
                /* Shift element to be centered */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                padding: 1rem;
                z-index: 2;

                h1 {
                    font-size: 3vw;
                    font-family: var(--nav-font);
                    color: var(--container-color);
                    transition: all 0.3s ease-in-out;
                    text-align: center;
                    text-transform: uppercase;

                    @media (max-width: 1143px) {
                        font-size: 1.25rem;
                    }
                }

            }
        }
    }

    &__clients {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 15vh;
        padding-top: 5vh;
        margin-bottom: 10vh;

        h2 {
            font-family: var(--title-font);
            font-size: var(--bigger-font-size);
            color: var(--header-color);
            font-weight: 400;
            letter-spacing: normal;
            text-transform: capitalize;
            font-display: swap;
            margin-bottom: 2rem;
            padding-left: 2rem;

            @media (max-width: 777px) {
                font-size: 4.3vh;
                padding-left: 1rem;
            }
        }

        &_container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            width: 100%;
            height: 100%;
            place-items: center;
            place-content: center;
            justify-content: center;
            align-items: center;

            @media (max-width: 1289px) {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

            }

            &_item {
                margin-top: 5vh;

                img {
                    width: 50%;
                    height: 100%;
                    object-fit: cover;

                    @media (max-width: 1289px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        margin-top: 5vh;
        padding: 2rem;
        padding-top: 5vh;
        border-top: 1px solid var(--border-color);

        @media (max-width: 555px) {
            padding: 0;
        }

        h2 {
            font-family: var(--body-font);
            font-size: var(--bigger-font-size);
            color: var(--header-color);
            font-weight: 400;
            letter-spacing: normal;
            text-transform: capitalize;
            font-display: swap;
            margin-bottom: 2rem;

            @media (max-width: 777px) {
                font-size: 4.3vh;
            }
        }

        &_content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            width: 100%;
            height: 100%;
            place-items: start;
            place-content: start;

            @media (max-width: 789px) {
                grid-template-columns: repeat(1, 1fr);
            }

            &_item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                height: 100%;
                position: relative;
                border-bottom: 1px solid var(--border-color);
                padding-bottom: 4vh;

                &:last-child {
                    border-bottom: none;
                }

                @media (min-width: 555px) {
                    &:nth-child(5) {
                        border-bottom: none;
                    }
                }

                @media (max-width: 777px) {
                    padding: 0.5rem;
                }

                h3 {
                    font-family: var(--body-font);
                    font-size: var(--biggest-font-size);
                    color: var(--header-color);
                    letter-spacing: normal;
                    text-transform: capitalize;

                    @media (max-width: 777px) {
                        font-size: 4.3vh;
                    }
                }

                p {
                    font-family: var(--body-font);
                    font-size: var(--normal-font-size);
                    width: 100%;
                    text-transform: lowercase;
                    color: var(--text-color);
                    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);

                    @media (max-width: 789px) {
                        width: 100%;
                    }
                }
            }
        }

        &_about {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            width: 100%;
            height: 100%;
            place-items: start;
            place-content: start;
            padding: 2rem;
            border-top: 1px solid var(--border-color);

            @media (max-width: 789px) {
                grid-template-columns: repeat(1, 1fr);
                padding: 0.5rem;
            }

            h2 {
                font-family: var(--body-font);
                font-size: var(--bigger-font-size);
                color: var(--header-color);
                letter-spacing: normal;
                text-transform: capitalize;

                @media (max-width: 777px) {
                    font-size: 4.3vh;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            p {
                font-family: var(--body-font);
                font-size: 1.1rem;
                font-weight: 500;
                letter-spacing: 0.05rem;
                width: 100%;
                color: var(--text-color);
                transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
                line-height: 1.5;
                padding-top: 0.4rem;
            }

        }
    }
}