.createEvent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
    background-color: var(--background-color);
    position: relative;
    padding-top: 6.5vh;

    h1 {
        font-family: var(--nav-font);
        font-size: var(--biggest-font-size);
        color: var(--title-color);
        font-weight: 900;
        letter-spacing: normal;
        text-transform: uppercase;
        font-display: swap;
        text-align: center;

        @media (max-width: 777px) {
            font-size: 8vw;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 70vw;
        height: fit-content;
        background-color: var(--background-color);
        box-shadow: 0 4px 30px rgba(96, 77, 58, 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid #c1c1c19b;
        -webkit-backdrop-filter: blur(5px);
        border-radius: 2rem;
        padding: 1rem;
        // border: 1px solid var(--border-color);
        gap: 2rem;
        z-index: 2;
        position: relative;
        top: 0rem;
        margin-bottom: 5vh;

        @media (max-width: 977px) {
            max-width: 90vw;
        }

        @media (max-width: 467px) {
            max-width: 100vw;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            gap: 1vh;

            img {
                object-fit: contain;
                margin-bottom: 1rem;
            }

            .createEvent__container_content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                padding: 1rem;

                @media (max-width: 1368px) {
                    max-width: 80vw;
                    padding: 0;
                    gap: 1vh;
                }

                input,
                select {
                    height: fit-content;
                    width: 100%;
                    padding: 10px 0rem;
                    border: none;
                    border-bottom: 1px solid var(--border-color);
                    border-radius: 0;
                    outline: none;
                    color: var(--title-color);
                    background-color: transparent;
                    cursor: pointer;
                    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
            
                    &::placeholder {
                        color: var(--title-color);
                    }
            
                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: var(--title-color);
                        opacity: 1;
                    }
            
                    &:hover {
                        transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                        border-bottom: 1px solid var(--title-color);
                    }
            
                    &:focus {
                        border-bottom: 1px solid var(--title-color);
                        transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                    }
                }

                textarea {
                    width: 100%;
                    padding: 2rem 1rem;
                    border: none;
                    border-bottom: 1px solid var(--border-color);
                    outline: none;
                    background-color: transparent;
                    color: var(--title-color);
                    cursor: pointer;
                    height: 100%;
                    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
            
                    &:hover {
                        transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                        border-bottom: 1px solid var(--title-color);
                    }
            
                    &:focus {
                        border-bottom: 1px solid var(--title-color);
                        transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                    }
            
                    &::placeholder {
                        color: var(--title-color);
                    }
            
                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        color: var(--title-color);
                        opacity: 1;
                    }
                }

                label {
                    font-size: 1.5rem;
                    color: var(--title-color);
                    font-family: var(--title-font);
                    text-transform: capitalize;
            
                    @media (max-width: 467px) {
                        font-size: 1.2rem;
                    }
                }
            
                input[type="radio"] {
                    display: none;
                }
            }


            button {
                width: 100%;
                padding: 0.5rem;
                border: 2px solid var(--title-color);
                border-radius: 2rem;
                font-size: 1.5rem;
                background-color: var(--title-color);
                color: var(--background-color);
                cursor: pointer;
                transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
            }
        }
    }
}

.createEvent__ontainer_content_radios {
    display: flex;
    width: 100%;
    gap: 0.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

    label {
        cursor: pointer;
        font-size: 1rem !important;
    }

}

.group {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;

    @media (max-width: 656px) {
        flex-direction: column;
    }
}

.error {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 1rem;
    color: #721c24;
    background-color: #f8d7da;
}

.imagesReview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;

    @media (max-width: 656px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 467px) {
        grid-template-columns: repeat(1, 1fr);
    }
}