.tellUsYourStory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 9900;

    &__close {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        padding: 2rem;
        position: absolute;
        top: 0rem;
        right: 0rem;

        @media (max-width: 577px) {
            top: -1rem;
            right: -1rem;
        }

        button {
            border: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            outline: 1px solid var(--border-color);
            border-radius: 50%;
            z-index: 9;
            height: 4rem;
            width: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 577px) {
                top: 0rem;
                right: 1rem;
                width: 2rem;
                height: 2rem;
            }

            span {
                font-family: var(--body-font);
                color: var(--title-color);
                font-size: 3rem;
                padding-bottom: 0.4rem;

                @media (max-width: 577px) {
                    font-size: 1.5rem;
                }
            }

            &:hover {
                color: var(--container-color);
                background-color: var(--accent-color);
                span {
                    color: var(--title-color);
                }
            }
        }
    }
    h2 {
        font-size: 2.5rem;
        color: var(--title-color);
        font-family: var(--title-font);
        text-transform: capitalize;
        text-align: left;
        padding-left: 1rem;

        @media (max-width: 577px) {
            font-size: 2rem;
        }
    }


    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        @media (max-width: 1368px) {
            max-width: 99vw;
            padding: 1rem;
        }


        &__group {
            display: flex;
            width: 100%;
            gap: 1rem;

            @media (max-width: 456px) {
                flex-direction: column;
            }

            &_column {
                padding-top: 0.5rem;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }

        &__group__passwords {
            display: flex;
            width: 100%;
            gap: 1rem;

            @media (max-width: 456px) {
                flex-direction: column;
            }
        }




        input,
        select {
            height: fit-content;
            width: 100%;
            padding: 10px 0rem;
            border: none;
            border-bottom: 1px solid var(--border-color);
            border-radius: 0;
            outline: none;
            color: var(--title-color);
            background-color: transparent;
            cursor: pointer;
            transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

            &::placeholder {
                color: var(--title-color);
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: var(--title-color);
                opacity: 1;
            }

            &:hover {
                transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                border-bottom: 1px solid var(--title-color);
            }

            &:focus {
                border-bottom: 1px solid var(--title-color);
                transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
            }
        }

        label {
            font-size: 1.5rem;
            color: var(--title-color);
            font-family: var(--title-font);
            text-transform: capitalize;

            @media (max-width: 467px) {
                font-size: 1.2rem;
            }
        }

        textarea {
            width: 100%;
            padding: 2rem 0;
            height: 13vh;
            border: none;
            border-bottom: 1px solid var(--border-color);
            outline: none;
            background-color: transparent;
            color: var(--title-color);
            cursor: pointer;
            transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);

            &:hover {
                transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
                border-bottom: 1px solid var(--title-color);
            }

            &:focus {
                border-bottom: 1px solid var(--title-color);
                transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
            }

            &::placeholder {
                color: var(--title-color);
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: var(--title-color);
                opacity: 1;
            }
        }


        .story__btn {
            width: 100%;
            padding: 0.5rem;
            border: 2px solid var(--title-color);
            border-radius: 2rem;
            font-size: 1.5rem;
            background-color: var(--title-color);
            color: var(--background-color);
            cursor: pointer;
            transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
            @media (max-width: 555px) {
                padding: 0rem;
            }
        }
    }

    &__error {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        margin-top: 10px;
        border: 1px solid var(--border-color);
        border-radius: 1rem;
        color: #721c24;
        background-color: #f8d7da;
        font-size: 0.8rem;
    }
}